{{- /*
    A table of courses within the section for use on the department sections pages. Contains Number, Name, Grades, Prerequisites, Credits.
    
    @param {sortBy} Order to sort the courses in the table. Defaults to number
    
    @example {{< coursetable sortBy="Params.name">}}
*/ -}}

{{- $filterBy := .Get "filterBy" | default "" }}
{{- $sortBy := .Get "sortBy" | default "Params.number" -}}

{{ $filteredPages := where .Site.RegularPages "Params.honors" "AP" }}
<pre>{{ range $filteredPages }}.{{end}}</pre>

<table class="table-auto" style="display: table;">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Grades</th>
            <th>Prerequisites</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
        {{ range sort .Page.Pages $sortBy }}
            <tr class="hx:items-center hx:justify-between hx:gap-2 hx:rounded-sm hx:px-2 hx:py-1.5 hx:text-sm hx:transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
            hx:text-gray-500 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:contrast-more:border hx:contrast-more:border-transparent hx:contrast-more:text-gray-900 hx:contrast-more:hover:border-gray-900 hx:dark:text-neutral-400 hx:dark:hover:bg-primary-100/5 hx:dark:hover:text-gray-50 hx:contrast-more:dark:text-gray-50 hx:contrast-more:dark:hover:border-gray-50">
                <td>{{ .Params.number }}
                    <br />{{ .Params.child }}</a></td>
                <td><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></td>
                <td>{{ .Params.req_gradelevel }}</td>
                <td>{{ .Params.req_prereq }}</td>
                <td>{{ .Params.credits }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
