{{ define "main" }}

<div class='hx:mx-auto hx:flex hextra-max-page-width'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" true) }}
        <div class="content">
            <!-- Credits Badge -->
            <div style="float:right">
                {{ with .Params.credits}}{{ partial "shortcodes/badge.html" (dict "content" . "color" "yellow" "icon" "plus-circle" "style" "float:right")}}{{ end }}
            </div>
            <h2>{{ .Params.number }}{{ with .Params.child }}, {{ . }}{{ end }}</h2>
            {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
            
            <ul style="--hextra-cards-grid-cols: 3;"class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose">
                {{ if .Params.required}}<li>Required</li>{{else}}<li>Elective</li>{{ end }}
                {{ with .Params.credits}}<li>Credits: {{ . }}</li>{{ end }}
                {{ with .Params.req_gradelevel}}<li>Grade Level(s): {{ . }}</li>{{ end }}
                {{ with .Params.length}}<li>Duration: {{ . }}</li>{{ end }}
                {{ if .Params.req_prereq }}
                    <li>Prerequisite(s): <a href="/{{ .Params.req_prereq}}">{{ .Params.req_prereq }}</a></li>
                    {{ else }}
                    <li>This course has <b>no prerequisites</b></li>
                {{ end }}
            </ul>
            <ul>
                {{ with .Params.repeatable}}<li>*This course is repeatable.</li>{{ end }}
                {{ if not .Params.requestable }}
                    <li>*This course <b>not</b> requestable by students.</li>
                {{ end }}
            </ul>

            <h2>Description</h2>
            {{ .Content }}

            <!-- DEBUG-->
            <!--
            <pre>{{ debug.Dump .Params }}</pre>
            <pre>{{ debug.Dump . }}</pre>
            -->
            
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
        
    </main>
    </article>
</div>
{{ end }}
